<h1>New Book</h1>

<form class="myForm" [formGroup]="bookForm">
    <p>
        <label for="title">Title</label>
        <input name="title" type="text" id="title" class="title" formControlName="title" />
    </p>

    <p>
        <label for="author">Author</label>
        <input name="author" type="text" id="author" class="author" formControlName="author" />
    </p>

    <p>
        <label for="genre">Genre</label>
        <input name="genre" type="text" id="genre" class="genre" formControlName="genre" />
    </p>

    <p>
        <label for="year">Year</label>
        <input name="year" type="number" id="year" class="year" formControlName="year" />
    </p>

  
    <button class="newBook"  (click)="addBook()">
        
    Create New Book</button>


    <button class="newBook">Cancel</button>

    


</form>
