
 <header>
    <h2>Book Store</h2>

    <div class="butoane">

        <button class="buton"
        (click)="test()">Create Book</button>
        <input type="button" value="Sort By Title" id="sortTitle" class="sortTitle">

        <label for="author">Author </label>
        <input type="text" id="author" class="author">
        <input type="button" value="Find" id="findBook" class="findBook">

        <input type="button" value="Oldie" id="findOldie" class="findOldie">

        <label for="box1">Search Genre</label>
        <select id= "box1" class="box1">
        
        </select>

    </div>
</header>



<table class="myTable">
   <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
        </tr>
   </thead>
   <tbody class="tableBody">
    <tr class="book" *ngFor="let book of books" [book]="book"></tr>
   </tbody>
</table>